.header {
	text-align: center;
	color: black;
}

.container-fluix {
	background: url(../img/back.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#timer {
  font: 50px sans-serif;	
		text-align: center;
}


.boxTime {
	 width: 800px;
	height: 150px;
	background-color: red;
}